
.slideshow {
    width: 350px;
    height: 200px;
    overflow: hidden;
    border: 3px solid #F2F2F2;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
 }
 
 .slideshow ul {
     /* 4 images donc 4 x 100% */
    width: 400%;
    height: 200px;
    padding:0; margin:0;
    list-style: none;
 }
 .slideshow li {
    float: left;
 }
 
body{
   background-color: rgba(170, 1, 1, 0.801);
   color: white;
}
.titre{
   margin-top: 50px;
   text-align: center;
   color: white;
   font-family: 'Orbitron', sans-serif;
}

button {
   color: white;
   border: 2px solid #4c66afa4;
   width: 200px;
   padding: 10px 50px 20px;
   margin-top: 25px;
   font-family: 'Orbitron', sans-serif;
}

.output{
   justify-content: center;
   text-align: center;
   padding: 2px;
   display: flex;
   font-family: 'Orbitron', sans-serif;
}

.poke{
   justify-content: center;
   text-align: center;
   margin-top: 30px;
}

.poke img{
   height: 50px;
   width: 50px;
   margin-left: 75px;
   margin-right:75px;
}